<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base2::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Forensic Management System</title>


</head>
<body>
<section>
	<div class="container">
		<h1>Forensic Management System</h1>
		<hr>
		<h2>Save Evidence</h2>

		<form action="#" th:action="@{/evidence/saveEvidence}" th:object="${evidence}"
			method="POST">
				<input type="text" th:field="*{name}"
				placeholder="evidence address" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{address}"
				placeholder="evidence address" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{location_found}"
				placeholder="location found" class="form-control mb-4 col-4">
				
				<input type="date" th:field="*{received_date}"
				placeholder="received date" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{receiving_method}"
				placeholder="receiving_method" class="form-control mb-4 col-4">
				
				<label for="case_id">Case:</label>
			<select th:field="*{forensicCase.id}" id="case_id">
				<option th:value="-1">Select a Case</option>
				<option th:each = "forensicCase : ${cases}"
						th:value = "${forensicCase.id}"
						th:text = "${forensicCase.name}"
						th:selected="${evidence.forensicCase != -1 && evidence.forensicCase.id == forensicCase.id}">
				</option>
				
			</select>
			
			<br>
			<br>
			<label for="lab_id">Lab:</label>
			<select th:field="*{lab.id}" id="lab_id">
				<option th:value="-1">Select a Lab</option>
				<option th:each = "lab : ${lab}"
						th:value = "${lab.id}"
						th:text = "${lab.id}"
						th:selected="${evidence.lab != -1 && evidence.lab.id == lab.id}">
				</option>
				
			</select>
			<br>
			<br>
			<label for="officer_id">officer:</label>
			<select th:field="*{officer.id}" id="officer_id">
				<option th:value="-1">Select a officer</option>
				<option th:each = "officer : ${officer}"
						th:value = "${officer.id}"
						th:text = "${officer.name}"
						th:selected="${evidence.officer != -1 && evidence.officer.id == officer.id}">
				</option>
				
			</select>
			<br>
			<br>
				
				<button type="submit"  class="btn btn-info col-2"> Save Evidence</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/evidence/open-evidence}"> Back to List</a>
	</div>
	</section>
</body>
</html>