<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base2::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Forensic Management System</title>


</head>
<body>
<section>
	<div class="container">
		<h1>Forensic Management System</h1>
		<hr>
		<h2>Save labtech</h2>

		<form action="#" th:action="@{/labtech/saveLabtech}" th:object="${labtech}"
			method="POST">
			<input type="text" th:field="*{name}"
				placeholder="labtech Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{designation}"
				placeholder="Designation" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{department}"
				placeholder="enter department" class="form-control mb-4 col-4">
				
				
				<label for="lab_id">Lab:</label>
			<select th:field="*{lab.id}" id="lab_id">
				<option th:value="-1">Select a Lab</option>
				<option th:each = "lab : ${lab}"
						th:value = "${lab.id}"
						th:text = "${lab.id}"
						th:selected="${labtech.lab != -1 && labtech.lab.id == lab.id}">
				</option>
				
			</select>
				
		
				<br>
				<br>
				<button type="submit"  class="btn btn-info col-2"> Save LabTech</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/labtech/open-labtech}"> Back to List</a>
	</div>
	</section>
</body>
</html>