<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base2::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="container my-2">
	<h1>Officer List</h1>
	
	<a th:href = "@{/officer/new-officer}" class="btn btn-primary btn-sm mb-3"> Add Officer </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
				<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
							Officer Id</a>
					</th>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Officer Name</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Officer Designation</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Officer Email</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=forensicCase.name&sortDir=' + ${reverseSortDir}}">
							Case Name</a>
					</th>
			
					
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="officer : ${listOfficer}">
				<td th:text="${officer.id}"></td>
					<td th:text="${officer.name}"></td>
					<td th:text="${officer.designation}"></td>
					<td th:text="${officer.email}"></td>
					<td th:text="${officer.forensicCase.name}"></td>
					<td> <a th:href="@{/officer/showFormForUpdate/{id}(id=${officer.id})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/officer/deleteOfficer/{id}(id=${officer.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</section>
</body>
</html>