<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base2::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="container my-2">
	<h1>Evidence List</h1>
	
	<a th:href = "@{/evidence/new-evidence}" class="btn btn-primary btn-sm mb-3"> Add Evidence </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
							Evidence Name</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Address</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Location Found</a>
					</th>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Received Date</a>
					</th>
					
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Receiving Method</a>
					</th>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Case Name</a>
					</th>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Lab </a>
					</th>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Officer</a>
					</th>
					
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="evidence : ${listEvidence}">
					<td th:text="${evidence.name}"></td>
					<td th:text="${evidence.address}"></td>
					<td th:text="${evidence.location_found}"></td>
					<td th:text="${evidence.received_date}"></td>
					<td th:text="${evidence.receiving_method}"></td>
					<td th:text="${evidence.forensicCase.name}"></td>
					<td th:text="${evidence.lab.department}"></td>
					<td th:text="${evidence.officer.name}"></td>
					<td> <a th:href="@{/evidence/showFormForUpdate/{id}(id=${evidence.id})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/evidence/deleteEvidence/{id}(id=${evidence.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</section>
</body>
</html>